<div global-msg></div>
<admin-panel ux-show="isAdmin()"></admin-panel>
<pages></pages>

<!--
<div style="margin: 150px;">
    <label i18n='adminPanel.addApp.desc'></label>
    <button class="removeIcon" title="comments.deleteComment" i18n-title title-click="<label i18n='adminPanel.addApp.desc'></label>, <button class='okIcon' ng-click='bindedMethod(1)'></button>"></button>
    <button class="editIcon" title="b" title-click="{{test}}, <button class='okIcon' ng-click='bindedMethod(2)'></button>"></button>
</div>
-->








