.app.slidesApp .reveal {
  font-size: 450%;
  position: relative;
  overflow: hidden;
}

.app.slidesApp .reveal .controls {
  position: absolute;
  bottom: 10px;
}

.app.slidesApp .reveal .slide { line-height: 1.5em; }
.app.slidesApp .reveal .slide .heading { line-height: 1em; margin-bottom: 0.2em; }

@disabledControlColor: #000;
@enabledControlColor: #32b4e4;
.app.slidesApp .reveal .controls .navigate-up { border-bottom-color: @disabledControlColor; }
.app.slidesApp .reveal .controls .navigate-right { border-left-color: @disabledControlColor; }
.app.slidesApp .reveal .controls .navigate-down { border-top-color: @disabledControlColor; }
.app.slidesApp .reveal .controls .navigate-left { border-right-color: @enabledControlColor; }
.app.slidesApp .reveal .controls .navigate-up.enabled { border-bottom-color: @enabledControlColor; }
.app.slidesApp .reveal .controls .navigate-right.enabled { border-left-color: @enabledControlColor; }
.app.slidesApp .reveal .controls .navigate-down.enabled { border-top-color: @enabledControlColor; }
.app.slidesApp .reveal .controls .navigate-left.enabled { border-right-color: @enabledControlColor; }


/* EDIT */
.app.slidesApp .slidesAppEdit .text { text-align: center; }
.app.slidesApp .slidesAppEdit .heading { margin: 0 !important; border-bottom: none; }
.app.slidesApp .slidesAppEdit [content-editable] .heading { color: @high;  }
.app.slidesApp .slidesAppEdit [content-editable] { text-align: center; }
