<div>
    <div class="columns large-7">
        <div>Image:</div>
        <media-picker ng-model="backgroundSrc" multiple="false" preview="true" on-change="changeMediaId($media)"></media-picker>
    </div>
    <div class="columns large-4" ng-show="backgroundSrc">
        <div>Display as mosaic:</div>
        <div><input type="checkbox" ng-model="background.mosaic"/></div>
    </div>
    <div class="columns large-7" ng-show="backgroundSrc && !background.mosaic">
        <div>Top position:</div>
        <select ng-model="background.position.top" ng-options="obj.id as obj.text for obj in position.top"></select>
    </div>
    <div class="columns large-7" ng-show="backgroundSrc && !background.mosaic">
        <div>Left position:</div>
        <select ng-model="background.position.left" ng-options="obj.id as obj.text for obj in position.left"></select>
    </div>
</div>