<div>
    <div class="columns large-9">
        <div><label i18n="editStyles.borders.color"></label></div>
        <input color-picker ng-model="borders.color" />
    </div>
    <div class="columns large-8">
        <div><label i18n="editStyles.borders.width"></label></div>
        <input type="number" ng-model="borders.width" />
    </div>
    <div class="columns large-8" ng-show="showBordersStyle()">
        <div><label i18n="editStyles.borders.style"></label></div>
        <select ng-model="borders.style" ng-options="obj.id as obj.text for obj in styles"></select>
    </div>
</div>