.comment img.avatar {
  width:36px;
  float:left;
}

.comment div.metaData {
  float:right;
  .offsettedWidth(-42px);
}

.comment div.metaData .header {
  padding: 0;
  line-height:1;
  .cf;
}

.comment div.metaData .header > * > * {
  float: left;
}

.comment div.metaData .header > .floatRight > * {
  margin-left: 8px;
}

.comment div.metaData .header button {
  margin-top: -6px;
}

.comment div.metaData .message {
  padding-bottom: @padding;
}

.comment .message [contenteditable] {
  padding: 0px;
}

.comment .rating {
  margin-top: -3px;
}