@fontColor		  : #666;
@fontColorHover   : lighten(@fontColor, 10%);
@high			  : #32b4e4;
@highDarken		  : darken(@high, 20%);
@highComp		  : #fff;
@highCompDarken   : darken(@highComp, 10%);
@successColor     : #3a7d34;
@errorColor       : #ec3f41;
@padding          : 15px;
/*@speed            : `window.speed`;*/
@speed            : 150;
@transitionRight  : -200px;
@boxHeight        : 55px;
@tabsHeight       : 60px;
@inputHeight      : 34px;
@fieldBoxBorderColor: 1px solid @high;
@fieldBoxPadding    : 5px;

.circled		{ border-radius:100px;}
.padding 		{ padding: @padding; }
.paddingTop     { padding-top: @padding; } .paddingRight { padding-right: @padding; } .paddingBottom { padding-bottom: @padding; } .paddingLeft { padding-left: @padding; }
.margin 		{ margin:@padding; }
.floatLeft 		{ float:left; }
.floatRight 	{ float:right; }
.clearRight 	{ clear:right; }
.selected 		{ background:@high !important; color:@highComp !important; }
.logo 			{ background-image: url('/client/images/logo.svg'); background-size:auto 90%; background-repeat:no-repeat; }

.fieldBox       { border: @fieldBoxBorderColor; padding:@fieldBoxPadding; }
.box            { height: @boxHeight; padding:@padding @padding @padding 42px; color: @fontColor; margin-bottom: 5px;
                  background-color: @highComp; background-size:32px auto; background-repeat: no-repeat; background-position: 6px 11px; }
.sortingPlaceholder { .box; background-color: @fontColorHover !important; }

.button         { background-color: @fontColor; color:@highComp; cursor: pointer; }
.button:hover   { background-color: @fontColorHover; }
.active         { background-color: @high !important; color: @highComp !important; }
.hoverState     { border: 3px solid red !important; }
.button a,
.active a  { color: inherit !important; }

.okIcon		      { background-image: url('/client/images/ok.svg'); }
.addIcon		  { background-image: url('/client/images/add.svg'); }
.editIcon		  { background-image: url('/client/images/edit.svg'); }
.settingsIcon	  { background-image: url('/client/images/settings.svg'); }
.commentsIcon	  { background-image: url('/client/images/comments.svg'); }
.helpIcon		  { background-image: url('/client/images/help.svg'); }
.maximizeIcon	  { background-image: url('/client/images/maximize.svg'); }
.closeIcon,
.cancelIcon,
.removeIcon	      { background-image: url('/client/images/cancel.svg'); }
.saveIcon		  { background-image: url('/client/images/save.svg'); }
.pageIcon		  { background-image: url('/client/images/page.svg'); }
.stylesIcon		  { background-image: url('/client/images/styles.svg'); }
.contentIcon	  { background-image: url('/client/images/content.svg'); }
.userIcon		  { background-image: url('/client/images/user.svg'); }
.mediaIcon		  { background-image: url('/client/images/media.svg'); }
.tagsIcon		  { background-image: url('/client/images/tag.svg'); }
.statsIcon		  { background-image: url('/client/images/stats.svg'); }
.childIcon		  { background-image: url('/client/images/child.svg'); }
.lastChildIcon    { background-image: url('/client/images/lastChild.svg'); }
.sortIcon         { background-image: url('/client/images/sort.svg'); }
.boldIcon         { background-image: url('/client/images/bold.svg'); }
.italicIcon       { background-image: url('/client/images/italic.svg'); }
.underlineIcon    { background-image: url('/client/images/underline.svg'); }
.notificationsIcon{ background-image: url('/client/images/email.svg'); }
.webIcon		  { background-image: url('/client/images/web.svg'); }
.appIcon		  { background-image: url('/client/images/app.svg'); }
.infoIcon         { background-image: url('/client/images/info.svg'); }

.upIcon		    { background-image: url('/client/images/up.svg'); }
.rightIcon		{ background-image: url('/client/images/right.svg'); }
.downIcon		{ background-image: url('/client/images/down.svg'); }
.leftIcon		{ background-image: url('/client/images/left.svg'); }

.editWhiteTemp, .settingsWhiteTemp 	{ background-image: url('/client/images/editWhiteTemp.svg'); }
.pageWhiteTemp						{ background-image: url('/client/images/pageWhiteTemp.svg'); }

.opacity(@defOp:1){ opacity:@defOp;}
.halfOpacity { .opacity(.5); }
.fullOpacity { .opacity(1); }
.scrollBlocked { overflow:hidden !important; }

.offsettedWidth(@offset: 0px, @width:100%){ width: -moz-calc(@width + ~" + "@offset) !important; width: -o-calc(@width + ~" + "@offset) !important; width: calc(@width + ~" + "@offset) !important; width: -webkit-calc(@width + ~" + "@offset) !important; }
.offsettedHeight(@offset: 0px, @height:100%){ height: -moz-calc(@height + ~" + "@offset) !important; height: -o-calc(@height + ~" + "@offset) !important; height: calc(@height + ~" + "@offset) !important; height: -webkit-calc(@height + ~" + "@offset) !important; }
.offsettedMaxHeight(@offset: 0px, @height:100%){ max-height: -moz-calc(@height + ~" + "@offset) !important; max-height: -o-calc(@height + ~" + "@offset) !important; max-height: calc(@height + ~" + "@offset) !important; max-height: -webkit-calc(@height + ~" + "@offset) !important; }
.offsettedTop(@offset: 0px, @top:100%){ top: -moz-calc(@top + ~" + "@offset) !important; top: -o-calc(@top + ~" + "@offset) !important; top: calc(@top + ~" + "@offset) !important;top: -webkit-calc(@top + ~" + "@offset) !important; }
.offsettedLeft(@offset: 0px, @left:100%){ left: -moz-calc(@left + ~" + "@offset) !important; left: -o-calc(@left + ~" + "@offset) !important; left: calc(@left + ~" + "@offset) !important; left: -webkit-calc(@left + ~" + "@offset) !important; }

/* MICRO CLEARFIX HACK */
.cf { zoom:1; &:after {clear:both; content:"";display:table;} &:before {content:"";display:table;}
}
