[content-editable] {
  position: relative;
}

[content-editable] > [contenteditable] {
  position: relative;
  z-index: 2;
}

[content-editable] > .placeholder {
  z-index: 1;
}

[content-editable] > .placeholder,
[content-editable] > .background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: @fieldBoxPadding;
  color: @placeholderColor;
}

[content-editable]:not([readonly]) > .background {
  background-color: @highComp;
}