[content-editable],
[content-editable] > .editableArea {
  position: relative;
}

[content-editable] > .actionsArea {
  position: absolute !important;
  right: -@padding;
  top: -45px;
  z-index: 3;
}

[content-editable] > .editableArea > [contenteditable] {
  position: relative;
  z-index: 2;
}

[content-editable] > .editableArea > [contenteditable="false"] {
  border-color: transparent;
}

[content-editable] > .editableArea > .placeholder {
  z-index: 1;
}

[content-editable] > .editableArea > .placeholder,
[content-editable] > .editableArea > .background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: @fieldBoxPadding;
  color: @placeholderColor;
}