@arrowWidth   :30px;
@borderWidth  :8px;
@arrowTopPos  :@padding + @normalButtonSize + @arrowWidth;
@editBoxWidth :600px;

.editBox {
    position:absolute;
    top:0px;
    left:0px;
    /*margin-top:-@arrowTopPos;*/
    margin-top: -(@arrowTopPos + @borderWidth);
    background-color: transparent;
    width:@editBoxWidth;
    z-index:11;
    border:0;
    padding: 0;
    cursor: default;
    color: @fontColor;
}

.editBox:after {
    position: absolute;
    right: 100%;
    border: @arrowWidth solid transparent;
    margin: -@arrowWidth 0 0 -(2 * @arrowWidth);
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
}

.editBox[arrowPos="top"]:after {
  top: -@arrowWidth;
  .offsettedLeft(50%, @arrowWidth);
  border-bottom-color: @highComp;
}

.editBox[arrowPos="right"] {
  margin-left:-(@arrowWidth + @borderWidth);
}

.editBox[arrowPos="right"]:after {
  top: @arrowTopPos;
  left:100%;
  border-left-color: @highComp;
  .offsettedLeft(2 * @arrowWidth);
}

.editBox[arrowPos="bottom"]:after {
  bottom: -(2 * @arrowWidth);
  .offsettedLeft(50%, @arrowWidth);
  border-top-color: @highComp;
}

.editBox[arrowPos="left"] {
  margin-left:@arrowWidth + @borderWidth;
}

.editBox[arrowPos="left"]:after {
    top: @arrowTopPos;
    left:0;
    border-right-color: @highComp;
}

.editBox .content {
    background: inherit !important;
}

.editBox .edit .tabs.level1 {
  margin-top: @padding + @normalButtonSize;
}

.editBox .edit .tabs.level1 > .tab {
  height: @tabsHeight !important;
  .editIcon;
}

.editBox .edit .content.level1 {
  background-color: @highComp !important;
}

.editBox.multiLayer > .content > .edit > .content.level1 {
  .offsettedWidth(-@tabsWidth);
}

.editBox .content.level1 .active:not(button),
.editBox .content.level1 .active h1,
.editBox .content.level1 .active h2,
.editBox .content.level1 .active h3,
.editBox .content.level1 .active h4,
.editBox .content.level1 .active h5,
.editBox .content.level1 .active h6 {
  background-color: @highComp !important;
  color: @high !important;
}

.editBox .checkContainer .check {
  background-image: url('../images/checkWhite.png');
}

.editBox .scrollable {
  overflow-y: auto;
  height: 100%;
  max-height: 350px;
}

.editBox .edit .level1 > ul > .layer {
  padding: @padding !important;
}

.editBox .edit > .actions {
  float: right;
  width: auto;
  padding: @padding @padding 0 @padding;
  background-color: @highComp;
}