@arrowWidth   :30px;
@arrowContainerWidth : 2 * @arrowWidth;
@borderWidth  :8px;
@arrowTopPos  :@padding + @normalButtonSize + @arrowWidth;
@zIndex       : 10; /*Be aware of the z-index of the overlay*/

.editBox {
    position:absolute;
    left:0px;
    margin-top: -((@arrowTopPos / 2) + @borderWidth);
    background-color: transparent;
    max-width:75%;
    border:0;
    padding: 0;
    z-index: @zIndex;
    cursor: default;
    color: @fontColor;
    max-height: 80%;
}

.editBox > .arrow {
  width: @arrowContainerWidth;
  height: @arrowContainerWidth;
  position: absolute;
  top: 0;
  z-index: @zIndex;
}

.editBox > .arrow:after {
    position: absolute;
    right: 100%;
    border: @arrowWidth solid transparent;
    margin: -@arrowWidth 0 0 -(2 * @arrowWidth);
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    z-index: @zIndex;
}

.editBox[arrowPos="top"]  > .arrow:after {
  top: -@arrowWidth;
  .offsettedLeft(50%, @arrowWidth);
  border-bottom-color: @highComp;
}

.editBox[arrowPos="right"] > .arrow {
  margin-right: -@arrowContainerWidth;
  right: 0;
}

.editBox[arrowPos="right"] > .arrow:after {
  left: 100%;
  top: 50%;
  border-left-color: @highComp;
}

.editBox[arrowPos="bottom"] > .arrow:after {
  bottom: -(2 * @arrowWidth);
  .offsettedLeft(50%, @arrowWidth);
  border-top-color: @highComp;
}

.editBox[arrowPos="left"] > .arrow {
  margin-left:-@arrowContainerWidth;
}

.editBox[arrowPos="left"] > .arrow:after {
    top: 50%;
    right:0;
    border-right-color: @highComp;
}

.editBox > .content {
    background: inherit !important;
    position: relative;
    z-index: @zIndex;
    min-height: 100px;
}

.editBox .edit {
  overflow: hidden;
}

.editBox .edit .tabs.level1 > .tab {
  height: @tabsHeight !important;
  .editIcon;
}

.editBox .edit .content.level1 {
  background-color: @highComp !important;
}

.editBox.multiLayer > .content > .edit > .content.level1 {
  .offsettedWidth(-@tabsWidth);
}

.editBox .content.level1 .active:not(button),
.editBox .content.level1 .active h1,
.editBox .content.level1 .active h2,
.editBox .content.level1 .active h3,
.editBox .content.level1 .active h4,
.editBox .content.level1 .active h5,
.editBox .content.level1 .active h6 {
  background-color: @highComp !important;
  color: @high !important;
}

.editBox .checkContainer .check {
  background-image: url('../images/checkWhite.png');
}

.editBox .edit .level1 > ul > .layer {
  padding: @padding !important;
}

.editBox .edit > .actions {
  float: right;
  width: auto;
  padding: @padding @padding 0 @padding;
  background-color: @highComp;
  position: absolute;
  top:-(@padding + @normalButtonSize);
  right: 0;
}