@selectFromCheckboxWidth: 32px;
@halfSelectFromCheckboxWidth: @selectFromCheckboxWidth / 2;

[list] .item {
  float: left;
}

[list] .item {
  position:relative;
  overflow: hidden;
}

[list] .item.listView:hover {
  background: @highCompDarken;
  cursor:pointer;
}

[list].selectable .item.active,
[list].editable .item.active{
  overflow: visible;
}

[list] .item .selectFromCheckbox {
  width: @selectFromCheckboxWidth;
  float: left;
}

[list] .item .selectFromCheckbox > * {
  margin: @padding @padding 0 0;
}

[list] .item.boxedItems.multiSelectable .selectFromCheckbox {
  padding: @halfSelectFromCheckboxWidth;
}

[list] .item > .text {
  float: left;
  margin-bottom: @padding;
  .offsettedWidth(-@selectFromCheckboxWidth);
}

[list] .item.boxedItems > .text {
  height: 100%;
  padding-left: @halfSelectFromCheckboxWidth;
  .offsettedWidth(-@halfSelectFromCheckboxWidth);
  .alignCenter;
}

[list] .item.boxedItems.multiSelectable > .text {
  padding-right: @selectFromCheckboxWidth;
  .offsettedWidth(-@selectFromCheckboxWidth);
}

[list] .item > button.remove {
  position:absolute;
  margin-top:15px;
  right:@transitionRight;
  .transition(right @speed);
}

[list] .item.active > button.remove,
[list] .item:hover > button.remove {
  right:@padding;
}