.loginPage {
  position: fixed;
  text-align: center;
  width: 50%;
  height: 95%;
  left: 50%;
  top: 2%;
  margin: 0px 0 0 -25%;
  background-size:  80% auto;
}

.loginPage .login > .columns {
  width: 100% !important;
}

.loginPage > .error {
  .padding;
  background: #dd0000;
  opacity:.5;
  color: @highComp;
  font-size: 20px;
  position: absolute;
  width: 100%;
}

.loginPage > .logo {
  height: 50%;
}

.loginPage form.login {
  margin-top: 5%;
  background: @highComp;
  font-size: 2em;
  padding: 30px;
  color: @high;
}

.loginPage form.login input {
  height: auto;
}

.loginPage form.login .columns.submit button[type="submit"] {
  width: @bigButtonSize;
  height: @bigButtonSize;
}