.actions {
	.floatRight;
	.clearRight;
}

ul[sortable] > li {
	cursor:move;
}

.overlay {
    width:100%;
    height:100%;
    position:fixed;
    background:#000;
    top:0px;
    left:0px;
    z-index: 10;
    .opacity(.5);
}

.loading {
	background-image: url('../images/loading.gif');
	background-repeat:no-repeat;
	background-position:center center;
	min-height:150px;
}
.loading > * {
	visibility:hidden;
}

.label.right {
	text-align:right;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.noOverflowX {
    overflow-x: hidden;
}

.clearBoth {
  clear: both;
}

.sortingBox {
  float: left;
  width: 24px;
  cursor: move;
  .sortIcon;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.somethingover.top      { border-top-color:  @high !important; }
.somethingover.left     { border-left-color: @high !important; }
.somethingover.right    { border-right-color: @high !important; }
.somethingover.bottom   { border-bottom-color: @high !important; }

@hoverIconSize : 36px;
.somethingover:after {
  position: absolute; display:block; top: 0px;
  background-size: @hoverIconSize;
  background-position: center center;
  background-repeat: no-repeat;
}

.somethingover.top:after    { width: 100%; height: @hoverIconSize; top: -@hoverIconSize; .downIcon; }
.somethingover.right:after  { width: @hoverIconSize; height: 100%; left: 100%; .leftIcon; }
.somethingover.bottom:after { width: 100%; height: @hoverIconSize; top: 100%; .upIcon; }
.somethingover.left:after   { width: @hoverIconSize; height: 100%; left: -@hoverIconSize; .rightIcon; }

.sourceDrag       { .opacity(.2);}
.newItem          { background-color: @highComp; .padding; }
.positionRelative { position: relative; }
.noBorder         { border-color: transparent !important; }
ul.sortable       { position: relative; }
.sortable > li    { cursor: move; }
.rows             { .cf; }
.columns          { padding: 5px; }
.cursorPointer    { cursor: pointer; }

.circled		{ border-radius:100px;}
.padding 		{ padding: @padding; }
.paddingTop     { padding-top: @padding; } .paddingRight { padding-right: @padding; } .paddingBottom { padding-bottom: @padding; } .paddingLeft { padding-left: @padding; }
.margin 		{ margin:@padding; }
.floatLeft 		{ float:left; }
.floatRight 	{ float:right; }
.clearRight 	{ clear:right; }
.selected 		{ background:@high !important; color:@highComp !important; }
.logo 			{ background-image: url('/client/images/logo.svg'); background-size:auto 90%; background-repeat:no-repeat; }

.fieldBox       { border: @fieldBoxBorderColor; padding:@fieldBoxPadding; }
.box            { height: @boxHeight; padding:@padding @padding @padding 42px; color: @fontColor; margin-bottom: 5px;
  background-color: @highComp; background-size:32px auto; background-repeat: no-repeat; background-position: 6px 11px; }
.sortingPlaceholder { .box; background-color: @fontColorHover !important; }

.button         { background-color: @fontColor; color:@highComp; cursor: pointer; }
.button:hover   { background-color: @fontColorHover; }
.active         { background-color: @high !important; color: @highComp !important; }
.hoverState     { border: 3px solid red !important; }
.button a,
.active a  { color: inherit !important; }

.editWhiteTemp, .settingsWhiteTemp 	{ background-image: url('/client/images/editWhiteTemp.svg'); }
.pageWhiteTemp						{ background-image: url('/client/images/pageWhiteTemp.svg'); }

.opacity(@defOp:1){ opacity:@defOp;}
.halfOpacity { .opacity(.5); }
.fullOpacity { .opacity(1); }
.scrollBlocked { overflow:hidden !important; }

.heading { color: @high; }
[id="normal"]   { font-size: 100% !important; }
[id="heading1"] { font-size: 210% !important; line-height: 1.5; margin: 25px 0px 20px 0px; border-bottom: 1px solid @fontColor; }
[id="heading2"] { font-size: 180% !important; line-height: 1.3; margin: 20px 0px 15px 0px; }
[id="heading3"] { font-size: 150% !important; line-height: 1.1; margin: 15px 0px 10px 0px; }

.alignCenter {
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-orient: vertical;-moz-box-orient: vertical;box-orient: vertical;
  -webkit-box-align: center;-moz-box-align: center;flex-align: center;
  -webkit-box-pack: center;-moz-box-pack: center;flex-pack: center;
  -ms-flex-align:center;
}

.alignRight {
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-orient: vertical;-moz-box-orient: vertical;box-orient: vertical;
  -webkit-box-align: end;-moz-box-align: end;flex-align: end;
  -webkit-box-pack: end;-moz-box-pack: end;flex-pack: end;
  -ms-flex-align:end;
}

.offsettedWidth(@offset: 0px, @width:100%){ width: -webkit-calc(@width+~"+"@offset) !important; }
.offsettedHeight(@offset: 0px, @height:100%){ height: -moz-calc(@height + ~" + "@offset) !important; height: -o-calc(@height + ~" + "@offset) !important; height: calc(@height + ~" + "@offset) !important; height: -webkit-calc(@height + ~" + "@offset) !important; }
.offsettedMaxHeight(@offset: 0px, @height:100%){ max-height: -moz-calc(@height + ~" + "@offset) !important; max-height: -o-calc(@height + ~" + "@offset) !important; max-height: calc(@height + ~" + "@offset) !important; max-height: -webkit-calc(@height + ~" + "@offset) !important; }
.offsettedTop(@offset: 0px, @top:100%){ top: -moz-calc(@top + ~" + "@offset) !important; top: -o-calc(@top + ~" + "@offset) !important; top: calc(@top + ~" + "@offset) !important;top: -webkit-calc(@top + ~" + "@offset) !important; }
.offsettedLeft(@offset: 0px, @left:100%){ left: -moz-calc(@left + ~" + "@offset) !important; left: -o-calc(@left + ~" + "@offset) !important; left: calc(@left + ~" + "@offset) !important; left: -webkit-calc(@left + ~" + "@offset) !important; }

/* MICRO CLEARFIX HACK */
.cf { zoom:1; &:after {clear:both; content:"";display:table;} &:before {content:"";display:table;}}