<div class="portal" ng-class="getCurrentUserAdminAccessStyleClass()">
    <ul class="pages" ng-style="setPagesStyles()">
        <li ng-repeat="row in portal.template.rows" class="rows">
            <ul>
                <li ng-repeat="column in row.columns" resizable-app="{{isAppResizeAllowed()}}" class="columns large-{{column.size}}"
                    ng-class="{template: column.apps, pageWrapper: !column.apps}">
                    <ul ux-show="column.apps" sortable-app="{{isAppSortAllowed()}}" ui-sortable="sortableOptions"
                        ng-model="column.apps" class="appContainer">
                        <li app="app.id" ng-repeat="app in column.apps" model="app.model" type="app.type" template-app="true" width="column.size"></li>
                    </ul>
                    <ul ux-show="column.rows">
                        <li ng-repeat="row in column.rows" class="rows">
                            <ul>
                                <li ng-repeat="column in row.columns" resizable-app="{{isAppResizeAllowed()}}"
                                    ng-class="getColSizeStyleClass(column.size, $index)" class="columns page">
                                    <ul sortable-app="{{isAppSortAllowed()}}" ui-sortable="sortableOptions" ng-model="column.apps" class="appContainer">
                                        <li app="app.id" ng-repeat="app in column.apps" model="app.model" type="app.type" template-app="false" width="column.size"></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>