<div>
    <div>
        <div class="columns large-25">
            <input checkbox ng-model="model.show.email" label="Show e-mail?"/>
        </div>
        <div class="columns large-25">
            <input type="text" ng-model="model.email" ng-show="model.show.email" />
        </div>
    </div>
    <div>
        <div class="columns large-25">
            <input checkbox ng-model="model.show.facebook" label="Show Facebook?"/></div>
        <div class="columns large-25">
            <input type="text" ng-model="model.facebook" ng-show="model.show.facebook" />
        </div>
    </div>
    <div>
        <div class="columns large-25">
            <input checkbox ng-model="model.show.twitter" label="Show Twitter?"/>
        </div>
        <div class="columns large-25">
            <input type="text" ng-model="model.twitter" ng-show="model.show.twitter" />
        </div>
    </div>
    <div>
        <div class="columns large-25">
            <input checkbox ng-model="model.show.linkedIn" label="Show LinkedIn?"/>
        </div>
        <div class="columns large-25">
            <input type="text" ng-model="model.linkedIn" ng-show="model.show.linkedIn" />
        </div>
    </div>
    <div class="columns large-25">
        Icon size:
        <select ng-model="model.iconSize" ng-options="obj.id as obj.text for obj in internalData.iconSizes"></select>
    </div>
</div>