<!--<div><h6>Text</h6></div>
<div><h6>Page<h6></div>
<div><h6>Layout<h6></div>
<ul sortable=model.pages">
	<li ng-repeat="page in edit.portal.pages" class="cf page">
		<div><input type="text" ng-model="page.text"></div>
		<div><input type="text" ng-model="page.page"/></div>
		<div class="actions">
			<button class="changeLayout">L</button>
			<button class="remove" ng-click="removeItemFromModel($index, edit.portal.pages)"></button>
		</div>
	</li>
</ul>
<div class="actions">
	<button class="add" ng-click="addItemToModel(edit.portal.pages)">+</button>
</div>-->
