<li class="comment cf" ng-hide="comment.deleted">
    <img class="avatar" ng-src="{{getDownloadUrl(comment.create.author.media)}}" />
    <div class="metaData">
        <div class="header">
            <div class="floatLeft">
                <div class="author"><a href="#">{{comment.create.author.fullName}}</a></div>
            </div>
            <div class="floatRight">
                <div class="date">{{getFormattedDate(comment.create.date)}}</div>
                <div rating="comment.avgRating" target-id="comment._id" target-collection="comments" height="16" ux-show="showRatings()"></div>
                <button class="toggleReply replyIcon small" ng-click="toggleReply()" i18n-title title="comments.addReply"></button>
                <button class="deleteComment removeIcon small" ng-click="deleteComment()" i18n-title title="comments.deleteComment"></button>
            </div>
        </div>
        <div class="message" ng-bind-html-unsafe="comment.text"></div>
        <div class="repliesWrapper"></div>
    </div>
</li>