<div class="comments">
    <h5 class="title" ng-hide="parentComment"><label i18n="comments"></label></h5>
    <div ng-show="comments.length == 0 && !parentComment" class="noComments">
        <label i18n="comments.noItems"></label>
    </div>
    <ul ng-show="comments.length > 0">
        <li ng-repeat="comment in comments" comment="comment"></li>
    </ul>
    <div class="cf" ng-hide="hideAdd || !loggedUser">
        <img class="avatar" ng-src="{{getUserAvatarUrl()}}" />
        <textarea content-editable ng-model="newCommentText" class="newCommentInput avatarSibling" placeholder="{{placeholder}}"></textarea>
        <button class="addIcon createComment floatRight" ng-click="createComment()">
            <label i18n="{{placeholder}}"></label>
        </button>
    </div>
</div>
