<div>
    <div class="headerToggle" ng-click="toggleHeader()" ng-show="showAdminActions()"></div>
    <div class="header cf" ng-show="showHeader()" title="{{getAppHelpText()}}">
        <div class="title">
            <h5>{{model.title || appInfo.title}}</h5>
        </div>
        <div class="actions">
            <button class="editIcon" ng-click="showEditTemplate()" ng-show="showEditActions()" title="app.edit" i18n-title></button>
            <button class="maximizeIcon" ng-click="toggleMaximized()" ng-show="showAdminActions()" title="app.maximize" i18n-title></button>
            <button class="removeIcon" ng-click="removeApp()" ng-show="showAdminActions()" title="app.remove" i18n-title></button>
        </div>
    </div>
</div>