<div ng-class="getWrapperClass()">
    <div ng-show="isSearchable()">
        <label i18n="list.search"></label><input type="text" ng-model="searchText" ux-keyup="search()"/>
    </div>
    <div ng-show="isPageActionsTop()" list-actions class="top"></div>
    <div ng-show="items.length == 0"><i><label i18n="list.noItems"></label></i></div>
    <div ng-show="items.length > 0" id="{{item._id}}" ng-repeat="item in items"
         class="item columns" ng-class="getItemStyleClasses(item)">
        <div class="selectFromCheckbox" ng-show="isMultiSelectable()">
            <input checkbox class="white" ng-model="item.isSelected" ng-click="selectItem(item, $index, $event, false)"
                   block-update-model="true" />
        </div>
        <div class="text" ng-click="selectItem(item, $index, $event, true)">
            <div ng-transclude></div>
        </div>
        <button class="remove removeIcon" ng-click="delete(item._id)" ng-show="isDeletable()">
            <label i18n="list.delete"></label>
        </button>
    </div>
    <div ng-show="isPageActionsBottom()" list-actions class="bottom"></div>
</div>