<div ng-class="getWrapperClass()" class="scrollable">
    <div class="searchArea" ng-show="isSearchable() && !detailId">
        <label i18n="list.search"></label>
        <input type="text" ng-model="searchText" ux-keyup="executeSearch()"/>
    </div>
    <div ng-show="isPageActionsTop()" list-actions class="top" collection="collection"></div>
    <div class="noItems" ng-show="items.length == 0"><i><label i18n="list.noItems"></label></i></div>
    <div ng-show="items.length > 0" ng-hide="detailId && detailId!=item._id" id="{{item._id}}"
         ng-repeat="item in items | filter: getFilter()" class="item columns"
         ng-class="getItemStyleClasses(item)" ng-style="setItemHeight()">
        <div class="selectFromCheckbox" ng-show="isMultiSelectable()">
            <input checkbox class="white" ng-model="item.isSelected" ng-click="clickOnItem(item, $index, $event, false)"
                   block-update-model="true" />
        </div>
        <div class="text" ng-click="clickOnItem(item, $index, $event, true)">
             <div ux-transclude="template"></div>
         </div>
        <button class="remove removeIcon" ng-click="clickOnItem(item, $index, $event, false)" ng-show="isDeletable()"
                title confirm-action="deleteItem(item._id)">
            <label i18n="list.deleteItem"></label>
        </button>
    </div>
    <a href="#" class="detailArea floatRight" ng-show="detailId" ng-click="deleteDetailId()">
        &lt;&lt; <label i18n="list.goBack"></label>
    </a>
    <div ng-show="isPageActionsBottom()" list-actions class="bottom" collection="collection"></div>
</div>
