<div>
    <div class="row">
        <h5><label>General</label></h5>
        <div class="columns large-25">
            <input checkbox ng-model="model.showTitles" label="Show titles"/>
        </div>
        <div class="columns large-25">
            <input checkbox ng-model="model.showComments" label="Show comments"/>
        </div>
    </div>
    <div class="row">
        <h5><label>Ratings</label></h5>
        <div class="columns large-25">
            <input checkbox ng-model="model.showRatings" label="Show ratings"/>

        </div>
        <div class="columns large-25">
            <input checkbox ng-model="model.showCommentsRatings" label="Show comments ratings"/>
        </div>
    </div>
</div>