<div>
    <div ng-show="!model.selectedContentId">Please select a content from the edit panel</div>
    <div ng-show="model.selectedContentId">
        <div class="contentHeader cf">
            <h3 ng-show="model.showTitles" class="title">
                <a href="#">
                    <div content-editable ng-model="internalData.title" type="type" on-blur="onContentUpdated" class="noBorder" i18n-db-input></div>
                </a>
            </h3>
            <div rating="internalData.avgRating" target-id="model.selectedContentId" target-collection="content" ux-show="model.showRatings"></div>
        </div>
        <div content-editable ng-model="internalData.summary" type="type" on-blur="onContentUpdated" class="noBorder" i18n-db-input></div>
        <div content-editable ng-model="internalData.content" type="type" on-blur="onContentUpdated" class="noBorder" i18n-db-input></div>
        <comments target-id="model.selectedContentId" placeholder="addApp.addComment" ux-show="model.showComments"
                  allow-ratings="model.showCommentsRatings"></comments>
    </div>
</div>
