.app.staticContentApp .contentHeader .title {
  float: left;
}

.app.staticContentApp .contentHeader .rating {
  float: right;
  margin: 12px 0 0 12px;
}

.app.staticContentApp [contenteditable] {
  border: none;
}