<div>
    <div ng-show="!model.selectedContentId"><em>Please select a content from the edit panel</em></div>
    <div ng-show="model.selectedContentId">
        <div class="contentHeader cf">
            <h3 ng-show="model.showTitles" class="title">
                <a href="#">
                    <div content-editable ng-model="internalData.title" type="type"
                         on-blur="onContentUpdated()" class="noBorder" i18n-db-input></div>
                </a>
            </h3>
            <div rating="internalData.avgRating" target-id="model.selectedContentId" target-collection="content"
                 target-author-id="internalData.create.author._id" ux-show="model.showRatings"></div>
        </div>
        <div content-editable ng-model="internalData.summary" type="type"
             on-blur="onContentUpdated()" class="noBorder" i18n-db-input></div>
        <div content-editable ng-model="internalData.content" type="type"
             on-blur="onContentUpdated()" class="noBorder" i18n-db-input></div>
        <comments target-id="model.selectedContentId" placeholder="comments.addComment.placeholder"
                  ux-show="model.showComments" allow-ratings="model.showCommentsRatings"></comments>
    </div>
</div>
