<li class="hasSubmenu">
    <ul vertical-tabs="level2Tabs"></ul>
    <div class="content level2">
        <ul>
            <li class="layer">
                <div class="columns large-25">
                    <label i18n="editGeneral.general.portalTitle"></label>
                    <div><input type="text" ng-model="model.title" mandatory /></div>
                </div>
                <div class="columns large-25">
                    <label i18n="editGeneral.general.portalDescription"></label>
                    <div><textarea content-editable ng-model="model.desc"></textarea></div>
                </div>
                <div class="columns large-25">
                    <label i18n="editGeneral.general.favicon"></label>
                    <file-uploader preview="true" ng-model="favicon" on-upload="updateFavicon"
                                   default-media-url="defaultFaviconUrl"></file-uploader>
                </div>
                <div class="columns large-25">
                    <h5><label i18n="editGeneral.general.fullscreenMode"></label></h5>
                    <input radio ng-model="model.fullscreenMode" label="editGeneral.general.fullscreenMode.real"
                    value="real" name="fullscreenMode" title="editGeneral.general.fullscreenMode.real.desc" i18n-title />
                    <input radio ng-model="model.fullscreenMode" label="editGeneral.general.fullscreenMode.maximized"
                    value="maximized" name="fullscreenMode" title="editGeneral.general.fullscreenMode.maximized.desc" i18n-title />
                    <input radio ng-model="model.fullscreenMode" label="editGeneral.general.fullscreenMode.template"
                    value="template" name="fullscreenMode" title="editGeneral.general.fullscreenMode.template.desc" i18n-title />
                </div>
            </li>
            <li class="layer">
                <div edit-app-general model="model.app"></div>
            </li>
            <li class="layer">
                <input checkbox ng-model="model.comments.allowRatings" label="editGeneral.comments.allowRatings" />
            </li>
            <li class="layer">
                <div class="columns large-8">
                    <label i18n="editGeneral.email.sourceAddress"></label>
                    <div><input type="text" ng-model="model.email.user" /></div>
                </div>
                <div class="columns large-8">
                    <label i18n="editGeneral.email.sourcePassword"></label>
                    <div><input type="password" ng-model="model.email.password" /></div>
                </div>
                <div class="columns large-7">
                    <label i18n="editGeneral.email.host"></label>
                    <div><input type="text" ng-model="model.email.host" /></div>
                </div>
                <div class="columns large-2">
                    <label>SSL?:</label>
                    <input checkbox ng-model="model.email.ssl" />
                </div>
            </li>
            <li class="layer">
                <div class="columns large-8 textAlignRight">
                    <label i18n="editGeneral.statistics.trackingCode"></label>
                </div>
                <div class="columns large-16">
                    <div><input type="text" ng-model="model.trackingCode" /></div>
                </div>
            </li>
        </ul>
    </div>
</li>

