<div>
    <div class="columns large-9 textAlignRight"><label i18n="richContent.color"></label></div>
    <div class="columns large-16">
        <input color-picker placeholder="richContent.color.placeholder" ng-model="model.color" on-change="propagateChanges" />
    </div>
    <div class="columns large-9 textAlignRight"><label i18n="richContent.style"></label></div>
    <div class="columns large-16">
        <button toggle-style ng-model="model.fontWeight" active-when="bold" inactive-when="normal" class="boldIcon"></button>
        <button toggle-style ng-model="model.fontStyle" active-when="italic" inactive-when="normal" class="italicIcon"></button>
        <button toggle-style ng-model="model.textDecoration" active-when="underline" inactive-when="none" class="underlineIcon"></button>
    </div>
    <div class="columns large-9 textAlignRight"><label i18n="richContent.size"></label></div>
    <div class="columns large-16">
        <select ng-model="model.fontSize" ng-init="model.fontSize=model.fontSize||'16px'"
                ng-options="obj.value as obj.text for obj in headingOptions" ng-change="propagateChanges()"></select>
    </div>
    <div class="columns large-9 textAlignRight"><label i18n="richContent.link"></label></div>
    <div class="columns large-6">
        <select ng-model="linkType" ng-init="linkType=linkType||'internal'" ng-options="obj.id as obj.text for obj in linkTypes"></select>
    </div>
    <div class="columns large-10">
        <div ng-show="linkType=='internal'" >
            <auto-complete ng-model="internalLink" ng-options="pagesList" label-key="text" value-key="url"
                           ux-change="setInternalLink" placeholder="richContent.link.placeholder"></auto-complete>
        </div>
        <input type="text" ng-model="externalLink" ux-blur="setExternalLink()" ng-show="linkType=='external'" />
    </div>
</div>
