<div>
    <div class="cf">
        <label i18n="editStyles.fontColor"></label>
        <div>
            <input color-picker placeholder="Specify the color" ng-model="model.color" />
        </div>
    </div>
    <div class="cf">
        <label i18n="editStyles.padding"></label>
        <div><input type="text" ng-model="model.padding"/></div>
    </div>
    <div class="cf">
        <label i18n="editStyles.fontSize"></label>
        <div><input type="text" ng-model="model.fontSize"/></div>
    </div>
    <h5>Background</h5>
    <div class="cf">
        <background ng-model="model.background"></background>
    </div>
</div>