<div>
    <div class="cf" ng-show="target=='portal'">
        <div class="columns large-13">
            <label i18n="editStyles.fontColor"></label>
            <div>
                <input color-picker placeholder="Specify the color" ng-model="model.cssVars.fontColor" />
            </div>
        </div>
        <div class="columns large-12">
            <label i18n="editStyles.highlightColor"></label>
            <div>
                <input color-picker placeholder="Specify the color" ng-model="model.cssVars.high" />
            </div>
        </div>
    </div>
    <div class="cf">
        <label i18n="editStyles.padding"></label>
        <div><input type="text" ng-model="model.padding"/></div>
    </div>
    <div class="cf">
        <label i18n="editStyles.fontSize"></label>
        <div><input type="text" ng-model="model.fontSize"/></div>
    </div>
    <div class="cf" ng-show="target=='app'">
        <label i18n="editStyles.height"></label>
        <div><input type="number" ng-model="model.height"/></div>
    </div>
    <div class="cf">
        <h5>Background</h5>
        <background ng-model="model.background"></background>
    </div>
</div>