<div>
    <div class="cf" ux-show="isPortalTarget()">
        <div class="columns large-13">
            <label i18n="editStyles.fontColor"></label>
            <div>
                <input color-picker placeholder="Specify the color" ng-model="model.cssVars.fontColor" />
            </div>
        </div>
        <div class="columns large-12">
            <label i18n="editStyles.highlightColor"></label>
            <div>
                <input color-picker placeholder="Specify the color" ng-model="model.cssVars.high" />
            </div>
        </div>
    </div>
    <div class="cf">
        <label i18n="editStyles.padding"></label>
        <div><input type="text" ng-model="model.padding"/></div>
    </div>
    <div class="cf">
        <label i18n="editStyles.fontSize"></label>
        <div><input type="text" ng-model="model.fontSize"/></div>
    </div>
    <div class="cf" ux-show="isAppTarget()">
        <label i18n="editStyles.height"></label>
        <div><input type="number" ng-model="model.height"/></div>
    </div>
    <div class="cf columns large-12" ux-show="isPortalTarget()">
        <h5><label i18n="editStyles.logo"></label></h5>
        <media-picker ng-model="logo" multiple="false" preview="true" on-change="changeLogoId($media)"></media-picker>
    </div>
    <div class="cf">
        <h5><label i18n="editStyles.background"></label></h5>
        <background ng-model="model.background"></background>
    </div>
    <div class="cf">
        <h5><label i18n="editStyles.borders"></label></h5>
        <borders ng-model="model.borders"></borders>
    </div>
</div>