<div class="bannerCanvas" ng-class="{readOnly: isReadOnly()}">
    <div class="addArea" ux-show="!isReadOnly()">
        <button class="addImage addIcon" ng-click="addImage()">Add image</button>
        <button class="addText addIcon" ng-click="addText()">Add text</button>
    </div>
    <div class="grid" ng-class="{overflowVisible: overflowVisible}">
        <div banner-item ng-repeat="item in items.data" data="item" on-change="onItemChange()"
             overflow-visible="overflowVisible" read-only="isReadOnly()"></div>
    </div>
</div>